<form #studentForm="ngForm" (ngSubmit)="addStudent(studentForm)">
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name" [(ngModel)]="formStudent.name">
    <br>
    <label for="lastName">Last Name</label>
    <br>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="formStudent.lastName">
    <br>
    <label for="age">Age</label>
    <br>
    <input type="text" id="age" name="age" [(ngModel)]="formStudent.age">
    <br>
    <label for="email">Email</label>
    <br>
    <input type="text" id="email" name="email" required [(ngModel)]="formStudent.email">
    <br>
    <label for="phone">Phone</label>
    <br>
    <input type="text" id="phone" name="phone" [(ngModel)]="formStudent.phone">
    <br>
    <button type="submit" [disabled]="!studentForm.valid">Save</button>
    <br>
    <!--boton de cancelar-->
    <button type="button" (click)="ocultarForm()">Cancel</button>

</form>

{{formStudent.name}}