<h1>RXJS Example</h1>
<div>

  <form #form="ngForm" (ngSubmit)="searchUser()">
      <label for="username">Username:</label>
      <input type="text" name="username" [(ngModel)]="txtUser" required>
      <button type="submit">Search</button>
  </form>

  <ng-container *ngIf="usuario">
      <h2>User Details:</h2>
      <p><strong>Name:</strong> {{ usuario.name }}</p>
      <p><strong>Username:</strong> {{ usuario.username }}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
      <p><strong>Phone:</strong> {{ usuario.website }}</p>
  </ng-container>
  <div>
    <h2>Posts</h2>
    <ng-container *ngIf="publicacion">
      <p>Nimbre: {{ publicacion.title }}</p>
      <p>Contenido: {{ publicacion.body }}</p>
    </ng-container>
  </div>
  
</div>